div.warning {
    color: red;
    margin-top: 0;
    margin-bottom: 1em;
}

div.preview {
    cursor: pointer;
}

div.table-wrapper {
    max-width: 80vw;
    overflow: auto;
}

table.input {
    outline: 2px solid black;
    margin: 0.5em 0.1em;
}

table.input td {
    text-align: center;
}

div.presets {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

div.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

div.buttons > div:first-child {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
}

div.buttons > div:last-child {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
